{% load custom_filters %}

<!DOCTYPE html>
<html>
<head>
    <title>TÉRMOMETRÓ DE INCLUSIÓN</title>
    <style>
        .resaltado {
            background-color: yellow;
        }
    </style>
</head>
<body>
    <h1>TÉRMOMETRÓ DE INCLUSIÓN</h1>
    <form method="post" action="{% url 'pagina_principal' %}">
        {% csrf_token %}
        <textarea name="parrafo" rows="5" cols="50"></textarea>
        <button type="submit">Guardar</button>
    </form>
    <h2>Párrafos:</h2>
    <ul>
        {% for parrafo in parrafos %}
            <li>
                <p>
                    {% for palabra in palabras_resaltar %}
                        {% with palabra|escape as palabra_escapada %}
                            {% with parrafo.texto|linebreaksbr|replace:palabra_escapada|safe as texto_con_resaltado %}
                                {{ texto_con_resaltado|safe }}
                            {% endwith %}
                        {% endwith %}
                    {% endfor %}
                </p>
            </li>
        {% endfor %}
    </ul>

    <div class="contenedor">
        <p>Este es un párrafo de ejemplo con <span class="subrayado" data-descripcion="Descripción de la palabra 1">palabra1</span> y <span class="subrayado" data-descripcion="Descripción de la palabra 2">palabra2</span>.</p>
    </div>

    <div class="popover" id="popover">
        <p id="descripcion"></p>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            $(".subrayado").hover(function() {
                var descripcion = $(this).data("descripcion");
                $("#descripcion").text(descripcion);
                $("#popover").css({
                    top: $(this).offset().top - $("#popover").outerHeight(),
                    left: $(this).offset().left + $(this).width()
                }).show();
            }, function() {
                $("#popover").hide();
            });
        });
    </script>
</body>
</html>
